{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To Game Haven...</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
                <div class="col-10">
                    <br/><br/>
                    <h3 style="align-content: center">
                        The Rockstar Games label was founded in 1998 to create the most innovative and progressive interactive entertainment. It is a wholly owned subsidiary of Take-Two Interactive Software, Inc.<br>
PLEASE NOTE: Rockstar Games welcomes input from the gaming community. However, any submissions to Rockstar Games of any nature whatsoever, whether through this site or otherwise, and whether via electronic or other mean, become the sole and exclusive property of Rockstar Games, which shall have full right, title and interest thereto, including under copyright, in all media now existing or hereafter created, and without any obligation to account or make any payment to the submitter for any use thereof. No purported reservation of rights incorporated in or accompanying any submission shall have any force or effect. By making a submission to Rockstar Games, you hereby agree to all of the foregoing.
©2016 Take-Two Interactive Software, Inc. All Rights Reserved.
                    </h3>
                    <br/><br/>
                </div>
            </div>
        </div>

{% endblock %}